@font-face {
    font-family: Puzzled;
    src: url('../fonts/Puzzled-Regular.otf');
}

@font-face {
    font-family: BlackJack;
    src: url('../fonts/blackjack.otf');
}

@font-face {
    font-family: Avenir Next;
    src: url('Avenir Next.ttc');
    font-weight: normal;
    font-style: normal;
}



html {
    background-image: linear-gradient(180deg, #FCFCFC, white, #f0f0f0, white);
    scroll-behavior: smooth;
}


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 10px 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    width: 73%;
    align-items: center;
    padding-right: 8.33%;
}

.home, .about {
    padding: 25px;
    text-decoration: none;
    font-family: Avenir Next;
    text-transform: uppercase;
    color: #2F2F2F;
    letter-spacing: 2px;
    transition: all 0.3s ease 0s;
}

.work, .fun {
    padding: 20px;
    padding-right: 0px;
    text-decoration: none;
    font-family: Avenir Next;
    text-transform: uppercase;
    color: #2F2F2F;
    letter-spacing: 2px;
    transition: all 0.3s ease 0s; 
}

.work-arrow, .fun-arrow {
    padding-right: 20px;
    padding-left: 0px;
}



.home:hover, .work:hover, .fun:hover, .about:hover {
    color: #348EE0;
}

.logodiv{
    display: inline-block;
    width: 23%;
    vertical-align: middle;
    margin-left: 8.33%;
}

.logo {
    display: flex;
    justify-content: flex-end;
    max-width: 125px;
    height: auto;
    padding: 2%;
}

.hero {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows:  100%;
    position: relative;
    height: 85vh;
    
}

#line1 {
    size: 10;
}


.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   

}

h1{
    
    height: auto;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
    font-family: BlackJack, sans-serif;
    font-weight: 100;
    color: #1E1E1E;
}
h2{ 
    margin: 0px 5px 0px 5px;
    font-family: Avenir Next;
    font-weight: 200;
    font-size: 40px;
    color: #1E1E1E;
}

.work-link-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-link {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.down-arrow {
    width: 10px;
    height: 10px;
    padding-left: 10px;
    filter: invert(0%) sepia(20%) saturate(300%) hue-rotate(322deg) brightness(88%) contrast(77%);
}


.work-link h3 {
    font-size: 13px;
    font-family: Avenir Next;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    color: #1E1E1E;
    transition: all 0.2s ease 0s;
}

.work-link h3:hover {
    color: #348EE0;
}

#scrollbutton {
    text-decoration: none;
    color: #1E1E1E;
    text-transform: uppercase;
    font-family: Avenir Next;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px;
    transition: all 0.2s ease 0s;
    margin-bottom: 20%;

}

#scrollbutton:hover {
    color: #348EE0;
}
#portfolio_links {
    padding: 5% 0 0 0;
}


.portfolio_link1 {
    margin: 0% 18% 5% 18%;
    border-radius: 25px;
    border: 1px solid #D4D4D4;
    transition: all 0.2s ease 0s;
}

.portfolio_link1 img {
    display: flex;
    width: 100%;
}

.portfolio_link1:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 10px grey;
}

.portfolio_link2 {
    margin: 0% 18% 5% 18%;
    border-radius: 25px;
    border: 1px solid #D4D4D4;
    transition: all 0.2s ease 0s;
}

.portfolio_link2 img {
    display: flex;
    width: 100%;
}

.portfolio_link2:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 10px grey;
}

.portfolio_link3 {
    margin: 0% 18% 5% 18%;
    border-radius: 25px;
    border: 1px solid #D4D4D4;
    transition: all 0.2s ease 0s;
}

.portfolio_link3 img {
    display: flex;
    width: 100%;
}

.portfolio1img {
    margin: 10% 0% 0 40%;
    max-width: 400px;
    height: auto;
   
}


.portfolio2img {
    margin: 12% 20% 0 20%;
    max-width: 500px;
    height: auto;
    
}

.portfolio3img {
    margin: 12% 20% 0 20%;
    max-width: 500px;
    height: auto;
}

.portfoliolink3-content h3 {
    font-family: Avenir Next;
    font-weight: 300;
    font-size: 50px;
    margin: 0;
}

.portfoliolink3-content h4 {
    font-family: Avenir Next;
    font-size: 25px;
    margin: 0;
    font-weight: 500;
}

.portfoliolink3-content p {
    font-family: Avenir Next;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 300;
    max-width: 60%;
}
.portfolio_link_2 {
    margin: 20% 25% 5% 25%;
    
}

.portfolio_link_3 {
    margin: 20% 25% 5% 25%;
    
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
}
.footer-content h5{
    font-family: BlackJack;
    font-size: 50px;
    color: #2F2F2F;
    text-align: center;
    margin-bottom: 0;
    transition: all 0.2s ease 0s;

}

.footer-content h5:hover {
    text-shadow: 2px 2px lightgrey;
    color: #348EE0;
}
.footer_images {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    color: #2F2F2F
}

.linkedin, .facebook {
    width: 35px;
    height: 35px;
  
    padding: 6px;
    transition: all 0.2s ease 0s;
}

.linkedin:hover, .facebook:hover{
    width: 40px;
    height: 40px;
}

.email {
    width: 41px;
    height: 41px;
    padding: 3px;
    transition: all 0.2s ease 0s;
}

.instagram {
    width: 46px;
    height: 46px;
    padding: 3px;
    transition: all 0.2s ease 0s;
}

.instagram:hover {
    width: 51px;
    height: 51px;
}

.email:hover{
    width: 46px;
    height: 46px;
}

span {
    font-family: Avenir Next;
    font-weight: 600;
    -webkit-text-fill-color: #FCFCFC;
    -webkit-text-stroke: 1.5px;
    transition: all 0.2s ease 0s;
  
}

span:hover {
    -webkit-text-fill-color: #5399da;
    -webkit-text-stroke-color: #5399da;
    font-size: 50px;
}


body {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600) {
    .home, .about, .work, .fun {
        font-size: 10px;
    }
    .hero {
        display: flex;
        flex-direction: column;
    }


    
}